{% extends 'ultimate_academy/base.html'%}

{% load static %}
{% block content %}
<div class = 'container-fluid vh-100 d-flex'>
    <div class = 'row align-items-center'>
        <div class = 'col align-items-center ' align='center'> {% comment %} Columna en la que aparece el VIDEO de la clase {% endcomment %}
        {% comment %} Iframe del video CLASE{% endcomment %}
            <div id = 'player' align='center'>
                <div id = 'claseId' style="display: none;">{{ clase.id }}</div>
            </div>
        </div>
        <div class = 'col align-items-center' align='center'> {% comment %} Columna en la que aparece el VIDEO de la clase {% endcomment %}
            <div><h1>{{ clase.titulo }}</h1></div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}