{% extends 'ultimate_academy/base.html'%}
{% block content %}
<div class = 'container-fluid'>
    <div class = 'row'>
        <div class = 'col-md-12 col-video'> {% comment %} Columna en la que aparece el VIDEO de la clase {% endcomment %}
            <div class="p-3 half-height d-flex align-items-center justify-content-center"><h1 class = 'title'>{{ clase.titulo }}</h1></div>
        </div>
        <div class = 'col-md-12'> {% comment %} Columna en la que aparece el VIDEO de la clase {% endcomment %}
            <div class="p-3 half-height d-flex align-items-center justify-content-center"><h1>{{ clase.titulo }} ventana 2</h1></div>
        </div>
    </div>

</div>

{% endblock %}